<h1 >Bonjour <strong><%= @user.first_name %></strong>,</h1>
<p>Bienvenue sur ton profil.</p>

<div class='container'>
  <div class="row">
    <div class="col">
        <div class='my-profile'>
          <div class="details">
            <h3>Détails personnnels</h3>
            <p><%= current_user.first_name %></p>
            <p><%= current_user.last_name %></p>
            <p><%= current_user.email %></p>
          </div>
          <div class="livraison">
          <h3>Adresse de livraison</h3>

          </div>
          <div class="facturation">

          <h3>Adresse de facturation</h3>
          </div>
          <div class="paiement">
          <h3>Mode de paiement</h3>

          </div>
          <div class="commandes">
          <h3>Voir mes commandes</h3>

          </div>
        </div>
    </div>
  </div>

</div>
