//FONCT

.left-fonct {
  padding: 30px;
  p {
    font-family: $body-font;
    strong {
      font-weight: 700;
    }
  }
}

.eol-content-value {
  border: 5px solid #3AB795;
  padding: 30px;
}

.right-fonct {
  padding: 30px;
  margin: 0 auto;
}

.img-fonct {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  height: 80vh;
  width: 80vh;
  position: sticky;
  top: 0;
}

// ANIMATED TITLE

.link-anim h2 {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.link-anim h2:after {
  content: '';
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.link-anim h2:hover::after {
  width: 100%;
  background: #3AB795;
}

//FONCT MEDIA QUERIES

@media(max-width: 920px) {
  .img-fonct {
    display: none;
  }
  .right-fonct {
    padding: 0;
  }
  .left-fonct {
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), image-url('eol-out.jpeg');
    height: 100vh;
  }
  .eol-content-value {
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.2));
  }
}

@media(max-width: 450px) {
  .eol-content-value {
    padding: 10px;
  }
  .left-fonct {
    padding: 5px;
    text-align: left;
    .link-anim {
      text-align: center;
    }
  }
}
