.right-box {
  height: 70vh;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)), image-url('wheat.jpg');
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-eolienne {
  width: 300px;
  display: block;
  position: absolute;
  top: 30px;
}

@media(max-width: 470px) {
  .right-box {
    display: none;
  }
}
