.right-box {
  height: 70vh;
  width: 100%;
  padding: 50px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.video {
  height: 800px;
  opacity: .8;
}

.image-eolienne {
  position: absolute;
  width: 300px;
  display: block;
  bottom: 15px;
  right: 150px;
}

@media(max-width: 990px) {
  .image-eolienne {
  position: absolute;
  bottom: -453px;
  right: 270px;
  }
}

@media(max-width: 580px) {
  .image-eolienne {
  position: absolute;
  right: 145px;
  }
}

@media(max-width: 470px) {
  .right-box {
    display: none;
  }
  .image-eolienne {
    display: none;
  }
}
