.navbar-lewagon {
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  background: white;
  padding: 20px 15px;
}
.navbar-brand h1 {
  font-family: $body-font;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

// .navbar-light .navbar-nav .nav-link:hover {
//   padding: -2px;
//   box-shadow: inset 0 -20px 0 0 #3AB795;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30px;
}

.navbar-lewagon .navbar-brand h1 {
  font-size: 20px;
  margin: 0;
}

//LINKS NAVBAR

.nav-link {
  font-family: $headers-font;
  letter-spacing: 0.08em;
  color: black;
  font-size: 18px;
  a {
    color: black;
  }
}

.btn-connect {
  margin-left: 10px;
}


.button-eol-navbar {
  text-align: center;
  border-radius: 2px;
  background-color: #3AB795;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-color: transparent;
  p {
    margin: 0;
    color: black;
  }
}
//ANIMATED LINKS

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-bottom: 1px;
}

a:after {
  content: '';
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

a:hover::after {
  width: 100%;
  background: #3AB795;
}

//MEDIA QUERIES

@media(max-width: 750px) {
  .nav-link {
    font-size: 14px;
  }
  .navbar-lewagon {
    padding: 15px 15px;
  }
}

@media(max-width: 658px) {
  .nav-link {
  font-size: 14px;
  }
  .navbar-lewagon {
    padding: 10px 5px;
  }
}
