.navbar-lewagon {
  justify-content: space-between;
  background-color:transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.login-btn {
  color: black;
  background-color: #3AB795;
  border-radius: 50px;
  padding: 5px 20px;
  text-decoration:none;
  margin: 0;
}



