//VALUES

.left-value-1 {
  padding: 30px;
  p {
    font-family: $body-font;
    strong {
      font-weight: 700;
    }
  }
}

.eol-content-value {
  border: 5px solid #3AB795;
  padding: 30px;
}

.right-value-1 {
  margin: 0 auto;
  padding-right: 0px;
  padding-left: 0px;
}

.img-values {
  display: block;
}

// ANIMATED TITLE

.link-anim h2 {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.link-anim h2:after {
  content: '';
  display: block;
  margin: auto;
  height: 5px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.link-anim h2:hover::after {
  width: 100%;
  background: #3AB795;
}

//VALUES MEDIA QUERIES

@media(max-width: 920px) {
  .img-values {
    display: none;
  }
  .left-value-1 {
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), image-url('eol-winter.jpg');
    height: 100vh;
  }
  .eol-content-value {
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.2));
  }
}

@media(max-width: 450px) {
  .eol-content-value {
    padding: 10px;
  }
  .left-value-1 {
    padding: 5px;
    text-align: left;
    .link-anim {
      text-align: center;
    }
  }
}


//FONCT MEDIA QUERIES

@media(max-width: 1500px) {
  .img-fonct {
    display: none;
  }
  .left-value {
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), image-url('https://res.cloudinary.com/dd6miiair/image/upload/v1585311452/eol-winter_yd1vaf.jpg');
    height: 100vh;
  }
  .eol-content-value {
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.2));
  }
}
